.notes-post-content {
  font-size: 0.875rem;
  line-height: 1.75;
}

.notes-post-content h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.notes-post-content h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.notes-post-content h3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.notes-post-content p {
  margin-bottom: 1rem;
  max-width: 65ch;
}

.notes-post-content p:first-child {
  margin-top: 0;
}

.notes-post-content h1:first-child,
.notes-post-content h2:first-child,
.notes-post-content h3:first-child {
  margin-top: 0;
}
